<div class="row">
      <div class="span12">
        <div class="span5 offset4 padding10">
          <div class="panel">
              <div class="panel-content">
                <fieldset>
                        <legend>Forgot your password?</legend>
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post,:class => "form-horizontal col-md-offset-3" }) do |f| %>      
                          <%= devise_error_messages! %>
                     	  <%= f.label :email %>
                        <div class="input-control text field" data-role="input-control">
                             <%= f.email_field :email, autofocus: true %>
                            <button class="btn-reveal" tabindex="-1"></button>
                        </div>
                        <%= f.submit "Send me reset password instructions",:class => "info large" %>
                      </fieldset>
               <% end %>
                  <div>
                  </div>
              </div>
            </div>
        </div>
        </div>
      </div>
