<div class="nested-fields">
  <%= f.inputs do %>
  <div class="row">
    <div class="span5">  
       <div class="input-control select size4">
        <%= f.select :description, options_for_select([["Authorization/Business receipt", "Authorization/Business receipt"],["Bank Statement","Bank Statement"],["Heshiiska Milkilayaasha/Letter or Owner of Agreement", "Heshiiska Milkilayaasha/Letter or Owner of Agreement"],["Receipts","Receipts"],["Other","Other"]],
                  :selected => f.object.description) %>
        </div>          
      <div class="file size8">
        <table>
          <tr>
              <td valign="middle">
                  <%= f.file_field :attachment %>
              </td>  
               <%  unless f.object.attachment.url(:thumb).include? "missing" %>  
              <td valign="top">
                 <a href="<%=f.object.attachment.url(:retina)%>" rel="hermitage">
                     <%=f.template.image_tag(f.object.attachment.url(:thumb)) %>
                  </a>
               </td>
               <% end %>
               <td valign="top">
                 <%= link_to_remove_association "Remove Attachment", f,:class=>"medium button danger default" %>
               </td>
            </tr>
           </table>        
      </div>
    </div>
  </div>
        <% end %>
</div>

