<%= semantic_form_for @company, :html => { :multipart => true,:class => "form-horizontal" }  do |f| %>
<% if @company.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:" %>
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>New Business Information</legend>
  <label>Business Name</label>
  <div class="input-control text size4" data-role="input-control">
    <%= f.text_field  :name,:placeholder=>"Enter Your Business Name" %>
    <button class="btn-clear" tabindex="-1"></button>
  </div>
  <label>Address</label>
  <div class="input-control textarea size4" data-role="input-control">
     <%= f.text_area :address, :as => :text, :input_html => { :rows => 4, :cols => 20 },:placeholder=>"Enter Your Business Address" %>
  </div>
</fieldset>
            
  <fieldset>
    <legend>Business Owner Details</legend>
    <div>  
      <%= f.semantic_fields_for :owners do |owner| %>
        <%= render 'owner_fields', :f => owner %>
      <% end %>
        <div> 
      <%= link_to_add_association 'Add Another Business Owner', f, :owners, :class=>"info medium button"  %>
        </div> 
    </div>
  </fieldset>

<div>
  <fieldset>
<legend>Common  Required Documents Intake</legend>
 <div>  
 <%= f.semantic_fields_for :attachments do |attachment| %>
    <%= render 'attachment_fields', :f => attachment %>
<% end %> 
  <%= link_to_add_association 'Add Attachment', f, :attachments,:class=>"info medium button" %>
 </div>  
 </fieldset> 
 </div> 
<br/>
<br/>
  <input name="commit" class="success large" type="submit" value="Update Business Information Form">

</fieldset>
                
<% end %>


         

