<%= semantic_form_for @company, :html => { :multipart => true,:class => "form-horizontal" }  do |f| %>
<% if @company.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:" %>
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>Magaca Shirkada / New Business Information</legend>
  <div class="row">
    <div class="span5">  
      <label>Magaca Shirkada/Company Name</label>
      <div class="input-control text size4" data-role="input-control">
        <%= f.text_field  :name,:placeholder=>"Magaca Shirkada/Company Name",:required => true %>
        <button class="btn-clear" tabindex="-1"></button>
      </div>
  </div>
  <div class="span5">  
    <label>Ciwaan/Address</label>
    <div class="input-control textarea size4" data-role="input-control">
       <%= f.text_area :address, :as => :text, :input_html => { :rows => 4, :cols => 20 },
       :placeholder=>"Ciwaan/Address",:required => true %>
    </div>
  </div>
</div>
</fieldset>

  <fieldset>
    <legend>Shaqsiga Magaciisa/ Business Owners Information</legend>
    <div>  
      <%= f.semantic_fields_for :owners do |owner| %>
        <%= render 'owner_fields', :f => owner %>
      <% end %>
        <div> 
          <br/>
      <%= link_to_add_association 'Shaqsiga Magaciisa/Add Business Owner', f, :owners, :class=>"info medium button"  %>
        </div> 
    </div>
  </fieldset>
<br/>
<br/>
  <fieldset>
    <legend>Common  Required Documents Intake</legend>
     <div>  
     <%= f.semantic_fields_for :attachments do |attachment| %>
        <%= render 'attachment_fields', :f => attachment %>
    <% end %> 
    <div> 
      <br/>
      <%= link_to_add_association 'Add Attachment', f, :attachments,:class=>"info medium button" %>
     </div>  
    </div>   
 </fieldset> 
 
<br/>
<br/>
  <fieldset>
    <legend>Shaqsiga Magaciisa/ License Information</legend>
    <div>  
      <%= f.semantic_fields_for :certificates do |certificate| %>
        <%= render 'certificates/form', :f => certificate %>
      <% end %>
        <div> 
          <br/>
   
        </div> 
    </div>
  </fieldset>

  <input name="commit" class="success large" data-disable-with="Please wait processing." type="submit" value="Update Business Information Form">


                
<% end %>


         

