<div class="nested-fields">
<%= f.inputs do %>
<label>Owner Name</label>
<div class="input-control text size4" data-role="input-control">
    <%= f.text_field  :name,:placeholder => "Enter Owner Name" %>
    <button class="btn-clear" tabindex="-1"></button>
</div>
  <%= link_to_remove_association "Remove Owner", f,:class=>"medium button danger default" %>
  <%= f.label :nationality  %>
  <div class="input-control select size4">
  <%= f.select :nationality, options_for_select([["Somalia", "Somalia"],["USA","USA"],["Ethiopia", "Ethiopia"],["Kenya", "Kenya"],["Yemen", "Yemen"],["Saudi Arabia", "Saudi Arabia"],["Oman", "Oman"],["Qatar", "Qatar"]],
            :selected => f.object.nationality) %>
</div>
 <%= f.label :gender  %>
  <div class="input-control select size4">
  <%= f.select :gender, options_for_select([["Male", "Male"],["Female","Female"]],
            :selected => f.object.gender)  %>
</div>
<%= f.label :phone  %>
  <div class="input-control text size4" data-role="input-control">
       <%= f.text_field :phone, :placeholder => "Enter Your Phone Number"  %>
      <button class="btn-clear" tabindex="-1"></button>
  </div>
 <%= f.label :email  %>
  <div class="input-control text size4" data-role="input-control">
      <%= f.email_field :email, :placeholder => "Enter Your Email"  %>
      <button class="btn-clear" tabindex="-1"></button>
  </div>
  <%= f.label "National ID attachment"  %>
<div class="file size8">
  <table>
    <tr>
        <td>
          <%= f.file_field :national_attachment %>
        </td>  
        <td>
          <a href="<%=f.object.national_attachment.url(:large)%>" rel="hermitage">
                 <%=f.template.image_tag(f.object.national_attachment.url(:thumb)) %>
            </a>
         </td>
      </tr>
     </table>        
</div>
<%= f.label :passport_attachment  %>
 <div class="file size8" data-role="input-control">
  <table>
    <tr>
        <td>
         <%= f.file_field :passport_attachment %>
        </td>  
        <td>
          <a href="<%=f.object.passport_attachment.url(:large)%>" rel="hermitage">
                <%=f.template.image_tag(f.object.passport_attachment.url(:thumb)) %>
            </a>
         </td>
      </tr>
     </table> 
 </div>
   <br/>
   <br/>                             
<% end %>
</div>
 
