<div class="row">
  <div class="span12 ">
  <nav class="navigation-bar compact">
  <div class="navigation-bar-content">
   <% if  current_user.has_role? :staff  %>   
        <%= link_to new_company_path, :class=>'element' do %>
         <i class="icon-new"></i> Client Registration
        <% end %>  
         <span class="element-divider"></span>
    <% end %>       
  <% if can? :manage, current_user %>
     <%= link_to users_path, :class=>'element' do %>
          <i class="icon-user-3"></i>Manage Users
      <% end %>
    <span class="element-divider"></span>
   <% end %> 
    <% if can? :manage, current_user %>
           <%= link_to new_user_registration_path, :class=>'element' do %>
                <i class="icon-user-3"></i>Add Users
            <% end %>
  <span class="element-divider"></span>
    <% end %>  
     <% if can? :manage, current_user %>
           <%= link_to edit_user_registration_path, :class=>'element' do %>
                <i class="icon-user-3"></i>Change Password
            <% end %>
   <% end %>  
          
      <span class="element-divider"></span>
      <a href="#" class="element"><i class="icon-newspaper"></i>Expired Licenses</a>
      <span class="element-divider"></span>
      <a href="pending_approve/list_all" class="element"><i class="icon-enter"></i>Pending To Approve</a>
      <span class="element-divider"></span>
      <a href="#" class="element"><i class="icon-printer"></i>Print Actions</a>
      <span class="element-divider"></span>
      <a href="customer_lookups/search" class="element"><i class="icon-user-3"></i>Customers Lookup</a>
  </div>
 </nav>
  
</div>
<div class="row">
  <div class="span12 padding10">
    <div class="panel">
        <div class="panel-content">
          <table id="products" class="display">
                <thead>
                  <tr>
                      <th class="text-left">Company Name </th>
                      <th class="text-left">License Activity</th>
                      <th class="text-left">Status</th>
                      <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <%@companies.each do |company| %>  
                    <% if !company.certificates.present? %>
                      <tr>
                          <td><%= company.name %></td>
                          <td class="right">&nbsp;</td>
                          <td class="right">&nbsp;</td>
                          <td class="right" >
                             <div class="row">
                            <% if can? :read, company %>
                              <div class="span6">
                               <%= link_to(company) do %>
                                  <button class="small info">View Business</button>
                                <% end %>
                               </div> 
                            <% end %>
                            <% if can? :update, company %>
                              <div class="span6">
                                <%= link_to(edit_company_path(company)) do %>
                                  <button class="small default">Edit Business</button>
                                <% end %>
                              </div>
                              <% end %>
                             </div>
                             <div class="row">  
                            <%= link_to(new_company_certificate_path(company)) do %>
                              <%@clss = company.certificates.first.present? ? "small success" : "small warning"%>
                              <button class= "<%=@clss%>" data-no-turbolink >Add License</button>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    <% end %>  
                    <% company.certificates.each do |certificate| %>  
                      <tr>
                          <td><%= company.name %></td>
                          
                          <td class="right"><%= certificate.description %>
                        
                            
                            
                          </td>
                          
                           
                          
                          <td class="right">
                             <% if !certificate.workflow_state.nil? %>
                                 <%= certificate.workflow_state.gsub(/_/, " ") %>
                             <% end %>
                          </td>
                          <td class="right" >
                            <!--<div class="row">
                               <% if can? :read, company %>
                                  <div class="span6">
                                     <%= link_to(company) do %>
                                        <button class="small info">View Business</button>
                                      <% end %>
                                    </div> 
                                <% end %>

                                <% if can? :update, company %>
                                    <div class="span6">
                                       <%= link_to(edit_company_path(company)) do %>
                                        <button class="small default">Edit Business</button>
                                      <% end %>
                                    </div>  
                                <% end %>
                            </div>-->

                            <div align="center">
                                  <div class="span3">
                                      <%= link_to(company_certificate_path(company,certificate)) do %>
                                        <button class= "small success" data-no-turbolink >View</button>
                                      <% end %>
                                    </div> 
                                  <% if !can? :manage, certificate and certificate.license_issued? and can? :issue, certificate %>
                                    <div class="span4">
                                       <%= link_to(company_certificate_path(company,certificate,:pdf )) do %>
                                        <button class="small info">Download</button>
                                      <% end %>
                                    </div>  
                                <% end %>

                                  <% if !certificate.license_issued? and  (current_user.has_role? :staff)  and can? :update, company %>
                                    <div class="span3">
                                       <%= link_to(edit_company_path(company)) do %>
                                        <button class="small default">Edit</button>
                                      <% end %>
                                    </div>  
                                <% end %>
                                <% if certificate.minister_has_accepted? or certificate.reinstated? %> 
                                   <% if current_user.has_role? :staff and can? :issue, certificate %>
                                        <div class="span3">
                                            <%= link_to(issue_license_company_certificate_path(company,certificate)) do %>
                                              <button class= "small success" data-disable-with="Processing."  data-no-turbolink >Issue</button>
                                            <% end %>
                                          </div> 
                             <% end %>
                                  <!--  <div class="span6">
                                      <%= link_to(edit_company_certificate_path(company,certificate)) do %>
                                        <button class="small default">Edit License</button>
                                      <% end %>
                                    </div>  -->
                            </div>

                     


                                 <% end %> 
                  </td>
                </tr>
                      <%end%>

                  <%end%>
                </tbody>
              </table>
        </div>
      </div>
  </div>
  </div>



