<div class="row">
  <div class="span12 ">
    <nav class="navigation-bar compact">
      <div class="navigation-bar-content">
        <% if  current_user.has_role? :staff  %>
            <%= link_to new_company_path, :class=>'element' do %>
                <i class="icon-new"></i> Client Registration
            <% end %>
            <span class="element-divider"></span>
        <% end %>
        <% if can? :manage, current_user %>
            <%= link_to users_path, :class=>'element' do %>
                <i class="icon-user-3"></i>Manage Users
            <% end %>
            <span class="element-divider"></span>
        <% end %>
        <% if can? :manage, current_user %>
            <%= link_to new_user_registration_path, :class=>'element' do %>
                <i class="icon-user-3"></i>Add Users
            <% end %>
            <span class="element-divider"></span>
        <% end %>
        <% if can? :manage, current_user %>
            <%= link_to edit_user_registration_path, :class=>'element' do %>
                <i class="icon-user-3"></i>Change Password
            <% end %>
        <% end %>

        <span class="element-divider"></span>
        <a href="#" class="element"><i class="icon-newspaper"></i>Expired Licenses</a>
        <span class="element-divider"></span>
        <a href="#" class="element"><i class="icon-enter"></i>Pending To Approve</a>
        <span class="element-divider"></span>
        <a href="#" class="element"><i class="icon-printer"></i>Print Actions</a>
        <span class="element-divider"></span>
        <a href="customer_lookups/search" class="element"><i class="icon-user-3"></i>Customers Lookup</a>
      </div>
    </nav>

  </div>

<div align="center" >
	<%= form_tag(customer_lookups_list_all_path, :method => "get", id: "search-form") do %>
	  Company Id  <%= text_field_tag :search_company_id, params[:search_company_id], placeholder: "company_id"%>
	  Owner Name  <%= text_field_tag :search_owner_name, params[:search_owner_name], placeholder: "owner_name"%>
	  Company Name  <%= text_field_tag :search_company_name, params[:search_company_name], placeholder: "company_name"%>
	  <%= submit_tag "Search", :name => nil %>
	<% end %>
</div>

 </div>