<div class="nested-fields">
<%= f.inputs do %>
<fieldset>
<table>
  <tr>
    <td>
 <label>License Activities</label>

  <div class="input-control textarea size6" data-role="input-control">
     <%= f.text_area :description, :as => :text, :input_html => { :rows => 4, :cols => 20 },:placeholder=>"Enter License Activity" %>
  </div>
</td>
</tr>
  <tr>
    <td>
 <label>License Issue Date</label>     
<div class="input-control   span6">
   <%= f.date_select  :cert_issue_date,{ start_year: Date.today.year-25, end_year: Date.today.year}  %>
</div>
</td>
</tr>
  <tr>
    <td>
 <label>License Effective Date</label>
 <div class="input-control  span6">
  <%= f.date_select  :cert_eff_date,{ start_year: Date.today.year, end_year: Date.today.year+1} %>
</div>
</td>
</tr>
  <tr>
    <td>
 <label>License Expire Date</label>
<div class="input-control  span6">
<%= f.date_select  :cert_term_date,{ start_year: Date.today.year, end_year: Date.today.year+1,default: 1.years.from_now}    %>  
</div>
</td>
</tr>
<tr>
    <td>
<br>
<!--<input name="commit" class="success default" type="submit" value="Update Certificate">-->
</td>
</tr>
</table>
</fieldset>
<% end %>
</div>

 

