<%= form_for [@company, @certificate]  do |f| %>
 <% if @certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% @certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
<table>
  <tr>
    <td>
 <label>License Activities</label>

  <div class="input-control textarea size6" data-role="input-control">
     <%= f.text_area :description, :as => :text, :input_html => { :rows => 4, :cols => 20 },:placeholder=>"Enter License Activity" %>
  </div>
</td>
</tr>
  <tr>
    <td>
 <label>Certficate Issue Date</label>     
<div class="input-control   span6">
   <%= f.date_select  :cert_issue_date  %>
</div>
</td>
</tr>
  <tr>
    <td>
 <label>Certficate Effective Date</label>
 <div class="input-control  span6">
  <%= f.date_select  :cert_eff_date,:class=>"select" %>
</div>
</td>
</tr>
  <tr>
    <td>
 <label>Certficate Expire Date</label>
<div class="input-control  span6">
<%= f.date_select  :cert_term_date,:class=>"select"  %>  
</div>
</td>
</tr>
<tr>
    <td>
<br>
<input name="commit" class="success default" type="submit" value="Update Certificate">
</td>
</tr>
</table>
</fieldset>

 
<% end %>
