 <div class="row">
      <div class="span10 padding5">
        <div class="span3">
          
        <nav class="sidebar light">
    <ul>
        <li class="title">Admin Section</li>
         <li class="stick">
         <%= link_to(companies_path) do %>
          <i class="icon-arrow-left"></i>Back</a>
         <% end %> 
           </li>
        <li class="stick">
          <%= link_to(new_company_certificate_path) do %>
             <i class="icon-new"></i> New License Form
          <% end %>
        </li>
        <li class="stick"><a href="#"><i class="icon-home"></i>Client Registration</a></li>
        <li class="stick"><a href="#"><i class="icon-newspaper"></i>Expired Certificates</a></li>
        <li class="stick"><a href="#"><i class="icon-enter"></i>Pending To Approve</a></li>
    <li class="stick"><a href="#"><i class="icon-printer"></i>Print Actions</a></li>
    <li class="stick"><a href="#"><i class="icon-user-3"></i>Customers Lookup</a></li>
    </ul>
</nav>
          
        </div>
        <div class="span9">
          <div class="panel2">
              <div class="panel-content">
                <table class="table hovered">
  <thead>
    <tr>
      <th class="size2 text-left">License Activities</th>
     <!-- <th class="size2 text-left">Issue Date</th> -->
      <th class="size3 text-left">Eff Date</th>
      <th class="size2 text-left">Expire Date</th>
      <th class="size2 text-left">Status</th>
      <th colspan="4" class="size4">Actions</th>
    </tr>
  </thead>
    <tbody>
      <% @certificates.each do |certificate| %>
        <tr>
          <td><%= certificate.description %></td>
         <!-- <td><%= certificate.cert_issue_date.to_date %></td>-->
           <td><%= certificate.cert_eff_date.to_date %></td>
            <td><%= certificate.cert_term_date.to_date %></td>
             <td><%= certificate.workflow_state %></td>
        <td class="right">
           <table>
        <!--    <td>
          <%= link_to(company_certificate_path(@company,certificate)) do %>
              <button class="small info">View</button>
          <% end %>
         </td> -->
         
         
          <% if certificate.awaiting_director_approval? %> 
          <% if can? :update, certificate %>
           <td class="right">
             <%= link_to(edit_company_certificate_path(@company,certificate)) do %>
                <button class="small default">Edit</button>
            </td> 
            <% end %>
          <% end %>
        <% end %>
         
        
          <% if certificate.minister_accepted? %> 
           <% if can? :issue, certificate %>
           <td class="right" nowrap="nowrap">
             <%= link_to(company_certificate_path(@company,certificate,:pdf )) do %>
                <button class="small success">Issue Certificate</button>
              <% end %>
               </td> 
            <% end %>   
          <% end %>

          <% if certificate.awaiting_director_approval? %> 
        
            <% if can? :director_accept, certificate %>
               <td class="right">
              <%= link_to(director_accept_company_certificate_path(@company,certificate)) do %>
               <button class="small success">Accept</button>
              </td> 
              <% end %>
           
             <% end %>
          
           <% if can? :director_reject, certificate %> 
             <td class="right">
            <%= link_to(director_reject_company_certificate_path(@company,certificate)) do %>
               <button class="small danger">Reject</button>
            <% end %>
             </td> 
          <% end %>
        <% end %>
           <% if certificate.awaiting_minister_approval? %> 
            <% if can? :minister_accept, certificate %> 
             <td class="right">
              <%= link_to(minister_accept_company_certificate_path(@company,certificate)) do %>
              <button class="small success">Accept</button>
            <% end %>
            </td> 
          <% end %>

          <% if can? :minister_reject, certificate %> 
           <td class="right">
            <%= link_to(minister_reject_company_certificate_path(@company,certificate)) do %>
                <button class="small success">Reject</button>
            <% end %>
            </td> 
          <% end %> 
          <% end %> 
        </tr>
      </table>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>

       </div>
            </div>
        </div>
        </div>
      </div>

  <!--</div>
         <%= link_to(companies_path, class: "btn btn-success") do %>
            Back
          <% end %>
          <%= link_to(new_company_certificate_path, class: "btn btn-success") do %>
            Create New Certficate
          <% end %>
    </div>
   </div>
</div>-->
