<div class="row">
  <div class="span12 ">
    <nav class="navigation-bar compact">
      <div class="navigation-bar-content">
        <% if  current_user.has_role? :staff  %>
            <%= link_to new_company_path, :class=>'element' do %>
                <i class="icon-new"></i> Client Registration
            <% end %>
            <span class="element-divider"></span>
        <% end %>
        <% if can? :manage, current_user %>
            <%= link_to users_path, :class=>'element' do %>
                <i class="icon-user-3"></i>Manage Users
            <% end %>
            <span class="element-divider"></span>
        <% end %>
        <% if can? :manage, current_user %>
            <%= link_to new_user_registration_path, :class=>'element' do %>
                <i class="icon-user-3"></i>Add Users
            <% end %>
            <span class="element-divider"></span>
        <% end %>
        <% if can? :manage, current_user %>
            <%= link_to edit_user_registration_path, :class=>'element' do %>
                <i class="icon-user-3"></i>Change Password
            <% end %>
        <% end %>

        <span class="element-divider"></span>
        <a href="#" class="element"><i class="icon-newspaper"></i>Expired Licenses</a>
        <span class="element-divider"></span>
         <% if user_signed_in? %>
        <a href="list_all" class="element"><i class="icon-enter"></i>Pending To Approve</a>
        <% end %>
        <span class="element-divider"></span>
        <a href="#" class="element"><i class="icon-printer"></i>Print Actions</a>
        <span class="element-divider"></span>
        <a href="/customer_lookups/search" class="element"><i class="icon-user-3"></i>Customers Lookup</a>
      </div>
    </nav>

  </div>

  <div class="row">
    <div class="span12 padding4">
      <div class="panel">
        <div class="panel-content">
          <table id="products" class="display">
                <thead>
                  <tr>
                      <th class="text-left">CompanyId</th>
                      <th class="text-left">OwnerName</th>
                      <th class="text-left">CompanyName</th>
                      <th class="text-center">CerDescription</th>
                      <th class="text-center">CerStatus</th>
                      <th class="text-center">CertLastActivity</th>
                  </tr>
                </thead>
                <tbody>
                  <%@data.each do |row| %>  
                      <tr>
                          <td class="right"><%= row["CompanyId"] %></td>
                          <td class="right"><%= row["OwnerName"] %></td>
                          <td class="right"><%= row["CompanyName"] %></td>
                          <td class="right"><%= row["CerDescription"] %></td>
                          <td class="right"><%= row["CerStatus"] %></td>
                          <td class="right"><%= row["CertLastActivity"] %></td>
                      </tr>
                  <%end%>
                </tbody>
              </table>
        </div>
      </div>
  </div>
  </div>
</div>
  </div>

<style>
  #products_length, #products_filter{
      display: none;
  }
</style>