<!DOCTYPE html>
<html>
<head>
  <title>Publicworkandreconstructionoffice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <style>
        .container {
            width: 1040px;
        }
    </style>
</head>
<body class="metro">
    <div class="container shadow">
    <!--header-->
    <nav class="horizontal-menu compact text-right">
    <ul>        
        <li><a href="/">Home</a></li>|
            
            <% if user_signed_in? %>
             <li ><%= link_to 'Dashboard', companies_path%></li>|
              <li ><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
            <% else %>
              <li ><%= link_to 'Sign in', new_user_session_path %></li>
              <!--<li><%= link_to 'Sign up', new_user_registration_path %></li>-->
            <% end %>
    </ul>
</nav>
    <!--header end-->
    <div class="grid fluid">
      <div class="row">
        <div class="span12 text-center"><img src="/assets/logo.png"><hr></div>
      </div>
    </div>  
    <div class="grid fluid">
      <main role="main">    
        <%= yield %>
      </main>
    </div>
  
    <footer>
        <div class="grid fluid">
          <div class="row">
          <div class="span12">
          <p class="bg-cyan fg-white padding10">&copy All Rights Reserved 2011-2014 | Somali Federal Republic</p>
          </div>
        </div>
        </div>
         
        </footer> 
</div>
     

</body>
</html>
